$primary-text-color: #fff;
$primary-header-background: #313131;
$primary-hover-background: rgb(118, 118, 118, 0.4);
$primary-menu-sidebar-background: #282828;
$primary-main-background: #252525;
$primary-add-task-text-color: rgb(124, 124, 124);
$primary-add-task-hover-color: rgb(234, 31, 31);
